/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    padding: 20px;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-basis: calc(50% - 20px);
}

form {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
}

#acesso-restrito {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#acesso-restrito h2 {
    margin-bottom: 10px;
}

#admin-panel {
    margin-top: 20px;
}

#admin-panel h3 {
    margin-bottom: 10px;
}

#admin-panel form {
    margin-bottom: 10px;
}

#admin-panel form h4 {
    margin-bottom: 5px;
}

.atrasado {
    background-color: #f44336; /* Vermelho */
}

.dentro-do-prazo {
    background-color: #4CAF50; /* Verde */
}
